<!DOCTYPE html>
<html>
<body>
  <head>
    <h2>Gabrielle S. Balanon</h2>
    <h5>Sorry. I don't have any photos of myself.</h5>
  </head>
  <img src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/14199768_10207034055145887_7881260560036713900_n.jpg?oh=b6100eb5b525dce55125de525d4c5973&oe=58626E53">
  <p>
    I'm a sophomore. Suffer-more. :-(
  </p>
  <p>
    <h6>I'm from Seattle, WA.</h6>
  </p>
  <p>
    <h3>Fun Fact: I worked at Girls Who Code this last summer. We did a bunch of cool things like this.</h3>
  </p>
  <p>
    <h4>I'm most excited to learn more about all the different folders/files in the project folder and how they connect.</h4>
  </p>
</body>
</html>
